@font-face{
    font-family: Star-Jedi;
    src: url(fonts/starjedi/Starjedi.ttf);
}

@font-face {
    font-family: Star-Jedi-Hol;
    src: url(fonts/starjedi/Starjhol.ttf);
}
.container__background--dark{
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
.container__background--video{
    max-width: 100%;

    margin:0;
    padding: 0;
    z-index: -1;
}
.first__video{
    position: absolute;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    /* margin: 2rem 0 1rem 0; */
    line-height:0rem;
    box-sizing: border-box;
    margin: 1rem;
    word-wrap: break-word;
    /* border:solid red; */
    min-height: 45rem;
}
 .caption__first{
    font-family: Star-Jedi;
    font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#2999D4;
 }
.content__h1Header{
    border: solid red;
    line-height:0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    /* justify-content: space-between; */
    max-height: 17rem;
    padding: 0;
    margin:7rem 2rem;
}
.h1Header{
    font-family: Star-Jedi-Hol;
    font-size: 13.5rem;
    line-height:0;
    color:white;
    line-height:0rem;
    /* margin:0 2rem; */
}

.caption__third{
    font-family: Star-Jedi;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#E60813;
}
.article{
   width: 100%;
}
.article__first{
    width: 100%;
    min-height: 300px;
}

.movie-search-input {
    max-width: 400px;
    height: 25px;
    margin-left: 10%;
    margin-bottom: 5px;
    background-color: #efefef;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.button-search {
    width: 80px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    background-color: forestgreen;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid forestgreen;
    border-radius: 5px;
    outline: none;
    transition: transform .03s ease-in-out;
}

.button-search:hover {
    color: forestgreen;
}

.button-search:active {
    transform: scale(0.9);
}
.article__second{
    position: relative;
}
.article__second--bacground{
    background-color: #000000;
    margin-top: 19rem;
}
.second__video {
    position: absolute;
    top: 0rem;
}
.list__cards{
    width: 97%;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, 27rem);
    justify-content: center;
    margin: 8rem 0 8rem 0 ;
    align-items: center;
}
.card{
    width: 24.8rem;
    height: 17rem;
    border-radius: 4%;
    background: white;
    position: relative;
    background-color: black;
    border: solid white 0.5px;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    background-size: contain;
    box-shadow: #000000,5px;
     /* filter: grayscale(1); */
}
.card--shadow{
    -webkit-box-shadow: 5px 5px 5px 1px rgba(255, 248, 248, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 5px 10px 1px rgba(255, 255, 255, 0.75);
}
.card__bacground--transparency{
    position: absolute;
    top:0.2rem;
    left: 0.2rem;
    width: 97%;
    height: 95%;
    background-color: #000000;
    border-radius: 2%;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.card__content{
    position: absolute;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 10rem;
}
.card__header--red{
    color:#E60813;
}
.card__name--white{
    color:white;
}
.card__titleContent {
    border-bottom: white 0.01rem solid ;
    max-height: 3.8rem; 
    min-height: 1.5rem;
    min-width: 8rem; 
    text-align: center; 
    padding: 0 0 0.5rem 0;
    box-sizing: border-box;
   
}
.card__titleContent--position{
    top:1.5rem;
    left:33%;
    
}
.card__header{
    font-size: 17px;
    font-family: 'Lemonada',
    cursive;
    margin: 0;
    padding: 0;
    line-height:1.5rem;
}

.card__headerName{
    font-size: 25px;
    color:#FFA813;
    font-family: 'Ubuntu',
    sans-serif;

}
.card__directorContent--position{
    top:4.5rem;
    left:2rem;
}
.card__producerContent{
    min-width: 10rem;
    min-height: 6.5rem;
    margin: 0;
}
.card__producerContent--position{
    right: 1.4rem;
    top:7rem;
}
.card__dateContent{
    min-width: 12rem;
    /* border: solid red; */
}
.card__dateContent--position{
    bottom: 1.4rem;
    left:2rem;
}
.card__name{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 17px;
    margin: 0 0 0 2rem;
}
.card__backgroundFirst--image{
    background-image: url(images/4oh3plg-free-star-wars-wallpaper.jpg);
   
    
}
.card__backgroundSecond--image{
    background-image: url(images/5QqOnXd-free-star-wars-wallpaper.jpg);
    
}
.card__backgroundThird--image{
    background-image: url(images/ALTwMNx-free-star-wars-wallpapers.jpg)
}